/* stylelint-disable */
:root {
  --basic-color: #ecf0f3;
  --border-color: #dce1e4;
  --secondary-red: #fc636b;
  --clear-white: #fff;
  --primary-red: #ff014f;
  --black-grey: #3c3e41;
  --name-color: #3c3e41;
  --grey-white: #d1d9e6;
  --nonclear-white: #e2e8ec;
  --primary-blue: #6a67ce;
  --third-red: #f9004d;
  --blue-white: #d9dee2;
  --black-secondary: #1e2125;
  --red-fiter: invert(15%) sepia(93%) saturate(7494%) hue-rotate(337deg) brightness(102%) contrast(101%);
  --white-filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(255deg) brightness(99%) contrast(105%);
  --primary-boxshadow: 5px 5px 15px #d1d9e6, -5px -5px 15px #fff;
  --primary-background: linear-gradient(145deg, #d1d9e6, #fff);
  --hover-background: linear-gradient(145deg, var(--primary-blue), var(--secondary-red));
  --text-black: #3c3e41;
  --angelist: invert(10%) sepia(15%) saturate(456%) hue-rotate(175deg) brightness(99%) contrast(94%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a,
a:visited,
a:active {
  color: var(--black-secondary);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

p {
  color: var(--text-black);
}

.nav a,
.hero__accs__social a {
  margin-left: 1rem;
}

body {
  font-family: Avenir, BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.2;
  overflow-x: hidden;
  color: var(--text-black);
}

header {
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3rem;
  font-family: "Montserrat", sans-serif;
  border-bottom: 2px solid var(--border-color);
  position: sticky;
  top: -5px;
  z-index: 7;
  background-color: var(--basic-color);
  color: var(--black-grey);
}

main {
  padding: 2rem 3rem;
  background-color: var(--basic-color);
}

ul {
  list-style-type: none;
  text-decoration: none;
}

.flex-row-center {
  display: flex;
  align-items: center;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.icon {
  gap: 1rem;
}

.imgwrapper {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 3px solid var(--clear-white);
}

.nav {
  display: flex;
}

.imgwrapper img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

nav li {
  transition: color 0.2s ease-in-out;
}

nav li:hover {
  color: var(--secondary-red);
}

.hero {
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 7rem;
  justify-content: space-between;
  display: flex;
}

.hero__content {
  margin-top: 5rem;
  margin-left: 0;
  flex-basis: 50%;
}

.hero__welcome {
  font-size: 1rem;
  letter-spacing: 3px;
  margin-bottom: 1.5rem;
  color: var(--black-grey);
}

.hero__title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: var(--name-color);
  font-family: "Montserrat", sans-serif;

}

.hero__name {
  color: var(--primary-red);
}

.hero__subtitle {
  font-size: 1rem;
  line-height: 2rem;
  margin-bottom: 10rem;
  padding-right: 3rem;
  color: var(--text-black);
}

.hamburger {
  display: none;
}

.hero___img {
  z-index: 5;
  position: relative;
  margin: 0 auto;
  flex-basis: 100%;
  height: 100%;
}

.hero___img img {
  width: 90%;
  height: 90%;
}

.hero___img::before {
  content: "";
  position: absolute;
  width: 90%;
  bottom: 0;
  top: 23%;
  border-radius: 0.5rem;
  height: 80%;
  z-index: -1;
  box-shadow: var(--primary-boxshadow);
  background: var(--primary-background);
}

.hero__accs {
  margin-top: 2rem;
}

.hero__accs__social {
  margin-top: 2rem;
  margin-left: -1rem;
}

.type {
  display: inline-flex;
}

.dynamic__txt li span {
  position: relative;
}

.dynamic__txt {
  overflow: hidden;
  height: 3.5rem;
  width: 35rem;
}

.dynamic__txt li {
  position: relative;
  animation: moveup 9s steps(3) infinite;
  top: 0;
}

@keyframes moveup {
  100% {
    top: -175px;
  }
}

.dynamic__txt li span::after {
  content: '';
  position: absolute;
  background-color: var(--basic-color);
  left: 0;
  height: 100%;
  width: 100%;
  border-left: 3px solid var(--primary-red);
  animation: cursor 3s steps(100) infinite;
  margin-left: 7px;
}

@keyframes cursor {
  40%,
  60% {
    left: 100%;
  }

  100% {
    left: 0;
  }
}

.features {
  border-bottom: 2px solid var(--border-color);
  margin-top: 10rem;
  padding-bottom: 10rem;
}

.hero__accs__social a,
.features__item,
.edu__card,
.contact__button {
  transition: all 0.2s ease-in-out;
  box-shadow: var(--primary-boxshadow);
  background: var(--primary-background);
  padding: 1.3rem;
  border-radius: 0.4rem;
  position: relative;
  z-index: 1;
  bottom: 0;
  color: var(--black-secondary);
}

.white {
  filter: var(--white-filter);
}

.hero__accs__social a:hover,
.contact__button:hover {
  padding: 1.3rem;
  border-radius: 0.4rem;
  color: white;
  bottom: 2px;
}

.myprofile__item__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.2s ease-in-out;
}

.angellistContainer img {
  filter: var(--angelist);
}

.angellistContainer:hover img {
  filter: var(--white-filter);
}

.angellist {
  width: 1.3rem;
  height: 1.3rem;
  margin: 0 0.1009rem;
  transition: all 0.2s ease-in-out;

}

.hero__accs__social a::before,
.features__item::before,
.edu__card::before,
.swiper-button-next::before,
.swiper-button-prev::before,
.contact__button::before {
  background: var(--hover-background);
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  opacity: 0;
  transition: all 0.2s ease-out;
  border-radius: 0.4rem;
}

.hero__accs__social a:hover::before,
.features__item:hover::before,
.edu__card:hover::before,
.swiper-button-next:hover::before,
.swiper-button-prev:hover::before,
.contact__button:hover::before {
  opacity: 1;
}

.features__container {
  margin-top: 3rem;
  gap: 2rem;
  display: flex;
  flex-direction: row;
}

.features__item {
  flex-basis: 33%;
  padding: 2.3rem 2rem;
  gap: 2rem;
  cursor: pointer;
  font-family: Poppins, sans-serif;
}

.features__item * {
  transform: translate(0, 0);
  transition: all 0.3s ease-in-out;
}

.features__item:hover * {
  transform: translate(0, -7px);
  color: var(--clear-white);
}

.arrow {
  visibility: hidden;
  transition: color 0.05s ease-in-out;
}

.features__item:hover .arrow {
  visibility: visible;
}

.features__container__icon {
  width: 3rem;
  height: 3rem;
}

.features__item img {
  filter: var(--red-fiter);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.features__item:hover img {
  filter: var(--white-filter);
}

.features__item__desc {
  color: var(--text-black);
  line-height: 28px;
}

.arrow {
  color: var(--primary-red);
}

.myprofile {
  text-align: center;
  margin-top: 10rem;
}

.myprofile__heading,
.features__heading {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: var(--text-black);
  line-height: 1.2;
  font-family: "Montserrat", sans-serif;
}

.myprofile__subheading,
.features__subheading,
.edu__year {
  color: var(--third-red);
  letter-spacing: 2px;
  line-height: 1rem;
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.myprofile__container {
  display: flex;
  gap: 2.5rem;
  text-align: left;
  flex-wrap: wrap;
  justify-content: center;
}

.myprofile__item {
  flex-basis: 30%;
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: var(--primary-boxshadow);
  background: var(--primary-background);
  gap: 2rem;
  cursor: pointer;
}

.myprofile__item__img {
  border-radius: 1rem;
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.myprofile__item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.myprofile__item:hover img {
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
}

.myprofile__item__subheading {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--text-black);
  font-family: "Montserrat", sans-serif;
  line-height: 2rem;
  transition: all 0.2s ease-in-out;
}

.myprofile__item__subheading:hover {
  color: var(--primary-red);
}

.myprofile__item__subheading .myprofile__arrow {
  transform: rotate(-45deg) scale(0) translate(-43px, 2px);
  transition: all 0.2s ease-in-out;
  position: relative;
  color: var(--primary-red);
  margin-left: 5px;
}

.myprofile__item__subheading:hover .myprofile__arrow {
  transform: rotate(-45deg) scale(1) translate(-8px, 0);
}

.profile__info {
  justify-content: space-between;
  align-items: center;
}

.profile__git:hover {
  transform: scale(1.3);
}

.profile__type {
  color: var(--primary-red);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: Poppins, sans-serif;
  text-transform: uppercase;
}

.myresume {
  text-align: center;
  margin-top: 10rem;
}

.active {
  color: var(--primary-red);
  box-shadow: var(--primary-boxshadow);
  background: var(--primary-background);
  border-radius: 0.4rem;
}

.myresume__item {
  display: flex;
  color: var(--text-black);
  box-shadow: var(--primary-boxshadow);
  border-radius: 0.4rem;
  background: var(--primary-background);
}

.myresume__item span:hover {
  box-shadow: var(--primary-boxshadow);
  background: var(--primary-background);
  border-radius: 0.4rem;
}

.myresume__item span {
  transition: all 0.2s ease-in-out;
  flex-basis: 25%;
  text-align: center;
  font-family: Poppins, sans-serif;
  line-height: 1.9;
  font-size: 1rem;
  font-weight: 600;
  padding: 2rem 0;
  letter-spacing: 0.5px;
}

.myresume__heading {
  cursor: pointer;

}

.edu {
  text-align: left;
  animation-name: jumpin;
  animation-duration: 0.5s;
}

@keyframes slidein {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

.edu__item {
  flex-basis: 100%;
  margin-top: 2rem;
}

.edu__heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 3.5rem;
  color: var(--black-secondary);
  line-height: 1.2;
  font-family: "Montserrat", sans-serif;
}

.edu__container {
  gap: 3rem;
  transition: all 2s ease-in-out;
  border-left: 5px solid var(--border-color);
  margin-right: 3rem;
  padding-left: 3rem;
}

.edu__card {
  font-family: Poppins, sans-serif;
  padding: 3rem 2rem;
}

.edu__subheading::before {
  content: "";
  position: absolute;
  top: 0.6rem;
  left: -5.7rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 5px solid var(--blue-white);
  background: var(--basic-color);
  transition: all 0.4s ease-in-out;
}

.edu__card:hover .edu__subheading::before {
  background: var(--primary-red);
}

.edu__card::after {
  content: "";
  position: absolute;
  top: 3.95rem;
  left: -2.9rem;
  width: 2.9rem;
  height: 5px;
  background: var(--border-color);
}

.edu__card * {
  transition: all 0.4s ease-in-out;
}

.edu__card:hover * {
  color: var(--clear-white);
}

.edu__subheading {
  font-size: 1.5rem;
  line-height: 39px;
  margin-bottom: 7px;
  font-weight: 600;
  position: relative;
}

.edu__card:hover .edu__loc {
  color: var(--clear-white);
  background-color: var(--primary-red);
  box-shadow: none;
}

.edu__info {
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 2.5rem;
  margin-bottom: 1.5rem;
  font-size: 14px;
  display: flex;
}

.edu__loc {
  padding: 0 1rem;
  line-height: 36px;
  color: var(--primary-red);
  box-shadow: var(--primary-boxshadow);
  background-color: var(--clear-white);
  border-radius: 6px;
  font-weight: 500;
}

.edu__desc {
  font-size: 18px;
  line-height: 28px;
}

.skill__name {
  font-weight: 500;
  margin-bottom: 1rem;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  opacity: 0.95;
  line-height: 1.26;

}

.skill__design {
  animation-duration: 0.7s;
  animation-name: slidein;
  background: linear-gradient(145deg, var(--clear-white) 0%, var(--primary-red) 100%);
  border-radius: 14px;
  height: 0.7rem;
  margin-bottom: 1rem;
}

.skill {
  gap: 7rem;
  text-align: left;
}

@keyframes jumpin {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.swiper-button-next,
.swiper-button-prev {
  padding: 2rem;
  box-shadow: var(--primary-boxshadow);
  background: var(--primary-background);
  position: relative;
  border-radius: 0.4rem;
  top: 5% !important;
}

.swiper-button-next::after {
  content: url('./assets/img/arrowforward.svg') !important;
}

.swiper-button-prev::after {
  content: url('./assets/img/arrowback.svg') !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  filter: var(--red-fiter);
  transition: all 0.3s ease-in-out;
  scale: 0.6;
}

.swiper-button-next:hover::after,
.swiper-button-prev:hover::after {
  filter: var(--white-filter);
}

.swiper-button-prev {
  left: 87% !important;
}

.recommendation {
  margin-top: 10rem;
}

.reco__container {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  margin-bottom: 3.5rem;
}

.reco__info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: var(--primary-background);
  box-shadow: var(--primary-boxshadow);
  padding: 2rem;
  border-radius: 10px;
  height: max-content;
}

.reco__img,
.contact__img {
  height: 50%;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.reco__img:hover img,
.contact__img:hover img {
  transform: scale(1.1);
}

.reco__img img,
.contact__img img {
  height: 100%;
  width: 100%;
  transition: all 0.4s ease-in-out;
  object-fit: cover;
  display: block;
}

.info__red {
  color: var(--primary-red);
  font-family: Poppins, sans-serif;
  font-size: 12px;
  margin: 10px 0 22px;
  letter-spacing: 2px;
  font-weight: 500;
}

.info__name,
.contact__name {
  color: var(--black-secondary);
  font-size: 24px;
  margin: 10px 0 0;
  font-weight: 500;
  line-height: 34px;
}

.info__post,
.contact__post {
  color: var(--black-grey);
  font-size: 14px;
  font-family: Poppins, sans-serif;
}

.quotation * {
  width: 23rem;
}

.reco__work {
  justify-content: space-between;
}

.reco__minfo {
  padding: 2rem;
  background: var(--primary-background);
  box-shadow: var(--primary-boxshadow);
  height: max-content;
  border-radius: 10px;
  justify-content: space-between;
}

.reco__work--title {
  color: var(--black-secondary);
  font-size: 30px;
  margin-bottom: 15px;
  line-height: 1.14;
  word-break: break-word;
  font-weight: 400;
  position: relative;
}

.reco__work--title::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -4.5rem;
  width: 2.5rem;
  height: 5px;
  background: var(--border-color);
}

.reco__work--loc {
  color: var(--black-grey);
  font-weight: 500;
  font-size: 16px;
}

.reco__work--desc,
.contact__desc {
  color: var(--black-grey);
  font-size: 18px;
  line-height: 30px;
  padding-top: 2rem;
}

.reco__work--ot {
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 3.5rem;
  display: flex;
}

.stars {
  background: var(--primary-background);
  box-shadow: var(--primary-boxshadow);
  padding: 1rem;
  border-radius: 6px;
}

footer {
  border-top: 1px solid var(--border-color);
  padding: 10rem 3rem 5rem;
  background-color: var(--basic-color);
}

input,
textarea {
  display: block;
  margin-top: 14px;
  outline: none;
  border: 2px solid var(--border-color);
  border-radius: 6px;
  width: 100%;
  padding: 1rem;
  transition: 0.3s ease-in-out;
  margin-bottom: 5px;
  font-family: "Montserrat", sans-serif;
}

input:focus,
textarea:focus {
  border-color: var(--primary-red);
}

textarea {
  resize: none;
  height: 22rem;
}

label {
  color: var(--black-grey);
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 500;
  margin-bottom: 1rem;
  display: block;
}

.contact__container {
  gap: 2rem;
  display: flex;
  flex-direction: row;
}

.contact__item {
  background: var(--primary-background);
  box-shadow: var(--primary-boxshadow);
  padding: 2rem;
  border-radius: 10px;
  height: max-content;
  flex-basis: 33%;
}

.contact__info {
  gap: 1rem;
}

.contact__info p a {
  position: relative;
  transition: all 0.3s ease-in-out;
}

.contact__info p a::before {
  content: "";
  position: absolute;
  width: 0%;
  background-color: var(--primary-red);
  height: 2px;
  left: 0;
  bottom: 1px;
  transition: all 0.3s ease-in-out;
  z-index: 10;
}

.contact__info p a:hover::before {
  width: 100%;
}

.contact__info p a:hover {
  color: var(--primary-red);
}

.contact__form {
  flex-basis: 66.6%;
  background: var(--primary-background);
  box-shadow: var(--primary-boxshadow);
  padding: 2rem;
}

.name * {
  flex-basis: 50%;
}

.name {
  gap: 2rem;
  display: flex;
  flex-direction: row;
}

.contact__button {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  border: none;
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {

  .toggleLight {
    margin-right: 4rem;
  }

  .hero {
    display: flex;
    flex-direction: column-reverse;
  }

  nav {
    height: 100%;
    padding: 1rem 0.2rem;
    font-weight: 600;
    align-items: center;
    transition: all 0.3s ease-in-out;
    position: fixed;
    left: -100%;
    top: 0;
    z-index: 1;
    flex-basis: 50%;
    background-color: var(--basic-color);
  }

  .navburger {
    background-color: var(--black-grey);
  }

  .hamburger:hover {
    cursor: pointer;
  }
  
  .hamburger span {
    display: block;
    background-color: var(--primary-red);
    margin: 0.4rem 0;
    height: 0.2rem;
    width: 2rem;
    border-radius: 0.15rem;
    transition: 0.3s all ease-in-out;
    position: relative;
  }

  .cancel {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: var(--black-grey);
  }
  
  .change.first-bar {
    top: 0.7rem;
    transform: rotate(45deg);
  }
  
  .change.second-bar {
    opacity: 0;
  }
  
  .change.third-bar {
    bottom: 0.5rem;
    transform: rotate(-45deg);
  }

  .open {
    left: 0%;
  }

  .nav {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    margin-top: -1em;
    align-items: flex-start;
    justify-content: space-around;
    text-align: center;
  }

  .nav li {
    margin-left: 1rem;
  }

  .hamburger {
    position: absolute;
    top: 0.7rem;
    right: 2.2rem;
    z-index: 99999999;
    background: var(--primary-background);
    box-shadow: var(--primary-boxshadow);
    padding: 1rem;
    display: block;
    border-radius: 50%;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }

}


@media only screen and (max-width: 950px) {

  .features__container {
    flex-direction: column;
    padding-left: 0.1rem;
  }

  .myprofile__item {
    flex-basis: 85%;
  }

  .reco__container {
    display: flex;
    flex-direction: column;
  }

  .quotation {
    display: none;
  }

  .reco__info {
    flex-direction: row;
    height: 15rem;
    gap: 3rem;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .reco__img {
    width: max-content;
    height: 100%;
  }

  .reco__img img {
    object-fit: scale-down;
  }

  .reco__work--title::after {
    display: none;
  }

  .contact__container {
    flex-direction: column;
  }

  nav {
    width: 70%;
  }
}

@media only screen and (max-width: 500px) {
  main {
    padding: 2rem 0.5rem;
  }

  header {
    padding: 1.5rem 0.5rem;
  }

  .nav {
    width: 70%;
  }

  .hero__welcome {
    font-size: 0.8rem;
  }

  .hero__title {
    font-size: 1.5rem;
  }

  .myname {
    font-size: 0.5rem;
  }

  .dynamic__txt {
    overflow: hidden;
    height: 1.75rem;
    width: 20rem;
  }

  @keyframes moveup {
    100% {
      top: -87px;
    }
  }

  .hamburger {
    padding: 0.7rem 0.7rem;
    top: 1.7rem;
    right: 0.5rem;
  }

  .hamburger span {
    height: 0.1rem;
    width: 1rem;
    margin: 0.2rem 0;
  }

  .change.first-bar {
    top: 0.3rem;
  }

  .change.third-bar {
    bottom: 0.3rem;
  }

  .myprofile__heading,
  .features__heading {
    font-size: 1.8rem;
  }

  .features__item {
    padding: 1.3rem;
  }

  .myprofile__item {
    flex-basis: 95%;
  }

  .myresume__item {
    flex-direction: column;
  }

  .edu__info {
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
  }

  .edu__container {
    padding-left: 0.8rem;
    margin-right: 0;
    margin-left: 0.3rem;
  }

  .edu__card {
    font-family: Poppins, sans-serif;
    padding: 1rem 1rem;
  }

  .edu__subheading::before {
    left: -2.5rem;
    top: 2.6rem;
  }

  .edu__card::after {
    left: -0.7rem;
    width: 0.7rem;
  }

  .reco__container {
    padding: 0 1rem;
  }

  .reco__info {
    flex-direction: column;
    gap: 0;
    height: 25rem;
  }

  .reco__work--ot { 
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }

  footer {
    padding: 5rem 0.7rem;
  }

  .hero__accs__social {
    flex-wrap: wrap;
    gap: 1rem;
  }

  .name {
    flex-direction: column;
    gap: 0;
  }

  textarea {
    height: 13rem;
  }

}
